@import 'variables';
@import 'normalize';

// ********************************* //
// *********** DASHBOARD *********** //
// ********************************* //

.dashboard {
  background-color: $theme-color;
  height: calc(100vh);
  &-content {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    &-circle {
      height: 300px;
      width: 300px;
      background-color: white;
      border-radius: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
    }
    &-btn {
      position: fixed;
      bottom: 0;
      right: 20px;
      border: none;
      border-bottom: 10px solid rgb(255, 0, 255);
      background-color: transparent;
      width: 40px;
      height: 70px;
    }
  }
}

// ********************************* //
// *********** NAV-COMP ************ //
// ********************************* //

.nav {
  width: 100%;
  height: 60px;
  padding-inline: calc(1rem - 2px);
  display: flex;
  justify-content: center;
  &-center {
    border-left: 1px solid #00000030 !important;
    border-right: 1px solid #00000030 !important;
  }
  & button {
    width: 33%;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 1rem;
  }
  &_activebtn {
    border-bottom: none !important;
  }
}

// ********************************* //
// ********** HEADER-COMP ********** //
// ********************************* //

.header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: $theme-color;
  color: white;
  font-weight: bold;
  padding: 1rem;
  justify-content: space-between;
  &_white {
    background-color: #fff !important;
  }
  &_profile {
    background-color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &_myprofile {
    position: fixed;
    top: 60px; /* Set to 60 (header height) */
    right: 0;
    height: 300px;
    width: 200px;
    background-color: $theme-color;
    padding: 1rem;
    border: 1px solid black;
    z-index: 999;
    line-height: 4rem;
    & a {
      color: white;
      text-decoration: none;
    }
    & button {
      width: 100px;
      height: 40px;
      position: absolute;
      bottom: 20px;
      left: 50px;
      border-radius: 10px;
      border: 1px solid #00000060;
      font-weight: bold;
    }
  }
}

// ********************************* //
// *********** RANK-VIEW *********** //
// ********************************* //

.rankList {
  padding-inline-start: 0;
  font-size: 1rem;
  width: 100%;
  padding-block-start: .5rem;
  font-weight: 500;
  &_El {
    list-style: none;
    width: 100%;
    padding-inline: 1.5rem;
    padding-block: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 2fr;
    align-items: center;
    &_right {
      text-align: right;
    }
    &_center {
      text-align: center;
    }
  }
  &_first {
    color: $theme-color;
  }
}

// ********************************* //
// ********** MYRANK-COMP ********** //
// ********************************* //

.myRank {
  width: 100%;
  background-color: $theme-color;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  &_pseudo {
    margin-inline-start: 1rem;
  }
  &_Stat {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// ********************************* //
// ********** PROFILE-VIEW ********* //
// ********************************* //

.profile {
  padding-inline: 2rem;
  &_Info {
    margin-block: 2rem;
  }
  &_form {
    display: flex;
    width: 100%;
    &_Picture {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-block: 4rem;
    }
    & #pseudo {
      width: 50%;
      padding: 1rem;
      background-color: #f1f1f153;
      border: 1px solid #eaeaea;
      border-radius: 15px;
    }
    &__Save {
      width: 100%;
      &_btn {
        width: 300px;
        position: absolute;
        bottom: 50px;
        left: calc(50% - 150px) ;
      }
    }
  }
  & button {
    padding: 1rem;
    border: 1px solid $theme-color;
    background-color: $theme-color;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
  }
}

// ********************************* //
// ************ Home-VIEW ********** //
// ********************************* //

.gamelist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-inline: 1rem;
  &-content {
    display: flex;
    width: 100%;
    max-height: calc(100vh - 120px - 80px);
    overflow-y: auto;
    align-items: start;
  }
  &-onglets {
    width: 100%;
    height: 80px;
    justify-content: left;
    position: fixed;
    bottom: -22px;
    &-btns {
      width: 75%;
      & button {
        width: 33%;
        height: 50px;
        border: none;
        border-right: 1px solid #00000030;
        border-top: 2px solid black;
        background-color: white;
        &:last-child {
          border-right: none !important;
        }
      }
    }
  }
  &-activebtn {
    border-top: none !important;
  }
  &-addgame {
    width: 50px;
    height: 50px;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    border-radius: 50%;
    font-size: 1.5rem;
    position: fixed;
    bottom: 8px;
    right: 20px;
  }
  & table {
    border-collapse: collapse;
    width: 100%;
    & thead {
      & .gamelist-title {
        background-color: $theme-color;
        color: white;
        position: absolute;
        z-index: 10;
        width: calc(100% - 2rem);
        display: flex;
        justify-content: space-between;
        & td {
          padding: .5rem;
          font-size: .8rem !important;
          width: 33%;
        }
      }
    }
    & tbody {
      & tr:nth-child(1) td {
        padding-top: 60px !important;
      }
    }
    & td {
      font-size: 1rem;
      &:first-child {
        text-align: left !important;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 40%;
        width: 40%;
        max-width: 1px;
      }
      &:nth-child(2) {
        text-align: center;
        min-width: 20%;
        width: 20%;
        max-width: 20%;
      }
      &:last-child {
        text-align: right !important;
        min-width: 40%;
        width: 40%;
        max-width: 40%;
      }
    }
  }
}

.gamelist-item {
  border-bottom: 1px solid #00000030;
  line-height: 2rem;
}