@import 'variables';
@import 'normalize';

// ********************************* //
// ********** FOOTER-COMP ********** //
// ********************************* //

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  & button {
    width: 33%;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    color: black;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  &_activebtn {
    background-color: $theme-color !important;
    color: white !important;
    border: 1px solid $theme-color !important;
  }
}

// ********************************* //
// ********** HEADER-COMP ********** //
// ********************************* //

.header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: $theme-color;
  color: white;
  font-weight: bold;
  padding: 1rem;
  justify-content: space-between;
  &_myprofile {
    position: absolute;
    top: 84px; /* Set to 60 (header height) */
    right: 0;
    height: 300px;
    width: 200px;
    background-color: #f1f1f1;
    padding: 1rem;
    border: 1px solid black;
    z-index: 999;
  }
}
// ********************************* //
// *********** RANK-VIEW *********** //
// ********************************* //

.rankList {
  padding-inline-start: 0;
  font-size: 1rem;
  width: 100%;
  padding-block-start: .5rem;
  font-weight: 500;
  &_El {
    list-style: none;
    width: 100%;
    padding-inline: 1.5rem;
    padding-block: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 2fr;
    align-items: center;
    &_right {
      text-align: right;
    }
    &_center {
      text-align: center;
    }
  }
  &_first {
    color: $theme-color;
  }
}

// ********************************* //
// ********** MYRANK-COMP ********** //
// ********************************* //

.myRank {
  width: 100%;
  background-color: $theme-color;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  &_pseudo {
    margin-inline-start: 1rem;
  }
  &_Stat {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// ********************************* //
// ********** PROFILE-VIEW ********* //
// ********************************* //

.profile {
  padding-inline: 2rem;
  &_Info {
    margin-block: 2rem;
  }
  &_form {
    display: flex;
    width: 100%;
    &_Picture {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-block: 4rem;
    }
    & #pseudo {
      width: 50%;
      padding: 1rem;
      background-color: #f1f1f153;
      border: 1px solid #eaeaea;
      border-radius: 15px;
    }
    &__Save {
      width: 100%;
      &_btn {
        width: 300px;
        position: absolute;
        bottom: 50px;
        left: calc(50% - 150px) ;
      }
    }
  }
  & button {
    padding: 1rem;
    border: 1px solid $theme-color;
    background-color: $theme-color;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 15px;
  }
}