@import 'variables';
@import 'normalize';

// ********************************* //
// ********** FOOTER-COMP ********** //
// ********************************* //

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  & button {
    width: 33%;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    color: black;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  &_activebtn {
    background-color: orange !important;
    color: white !important;
    border: 1px solid orange !important;
  }
}

// ********************************* //
// ********** HEADER-COMP ********** //
// ********************************* //

.header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 1rem;
  justify-content: space-between;
  &_myprofile {
    position: absolute;
    top: 84px; /* Set to 60 (header height) */
    right: 0;
    height: 300px;
    width: 200px;
    background-color: #f1f1f1;
    padding: 1rem;
    border: 1px solid black;
    z-index: 999;
  }
}